.page__flex {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-top: 4rem;
  flex-wrap: wrap;
  color: #fff;
}
.page__left {
  padding-right: 3rem;
}
.page__h2 {
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 1.7rem;
}
.page__p {
  max-width: 52.3rem;
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 6rem;
}
.page__h3 {
  margin-bottom: 1.7rem;
  font-weight: 500;
  font-size: 3rem;
}
.page__right {
  min-height: 55rem;
  position: relative;
}
.page__money {
  font-weight: 600;
  font-size: 3rem;
  color: #bd30e8;
  margin-bottom: 4.7rem;
}
.footer__link-page {
  padding: 1.7rem 2.3rem;
  font-size: 1.8rem;
}
.page1__block {
  position: absolute;
  bottom: 10rem;
  left: 0;
}
.header__logo-page {
  transition: all 0.5s;
}
.header__logo-page:hover {
  transition: all 0.5s;
  transform: scale(1.2);
}
.prices {
  color: #000;
  font-size: 3.2rem;
  padding: 6rem 0;
}
.grid__prices {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  grid-gap: 4rem;
}
.wrapper__prices {
  padding: 3.5rem 0 5rem 3rem;
  background: #fff;
  border-radius: 1.5rem;
  background: linear-gradient(90deg, #ab4dc8 -3.3%, #4f4ced 82.8%);
}
.prices__h2 {
  margin-bottom: 1.3rem;
  font-weight: 600;
  color: #fff;
}
.prices__money {
  margin-bottom: 6rem;
  font-weight: 500;
  color: #fff;
}
.prices__h1 {
  text-align: center;
  padding: 7rem 0;
  font-weight: 600;
  font-size: 3rem;
  color: #fff;
}
.sec__link-pg {
  padding: 1.7rem 2.3rem;
  font-weight: 600;
  font-size: 1.8rem;
  color: #ffffff;
  background: linear-gradient(90deg, #ab4dc8 -3.3%, #4f4ced 82.8%);
  border-radius: 0;
}
.pr__lupdate {
  border-radius: 3rem;
  background: linear-gradient(360deg, #ab4dc8 -3.3%, #4f4ced 82.8%);
}
