input[type="text"],
input[type="tel"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Установите стиль для всех кнопок */
.ftbtv {
  background: linear-gradient(90deg, #ab4dc8 -3.3%, #4f4ced 82.8%);
  color: #fff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Дополнительные стили для кнопки Отмена */
.cancelbtnss {
  width: auto;
  padding: 10px 18px;
  background: linear-gradient(90deg, #ab4dc8 -3.3%, #4f4ced 82.8%);
  color: #fff;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.containersr {
  padding: 16px;
}

/* Модальный (фон) */
.modalgg {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включите прокрутку, если это необходимо */
  background-color: rgb(0, 0, 0); /* Цвет запасной вариант  */
  background-color: rgba(0, 0, 0, 0.4); /*Черный с непрозрачностью */
  padding-top: 60px;
}

/* Модальное содержание/бокс */
.modalg-contentjj {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% сверху, 15% снизу и по центру */
  border: 1px solid #888;
  width: 50%; /* Может быть больше или меньше, в зависимости от размера экрана */
}

/* Кнопка закрытия (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
.containersr {
  background-color: #f1f1f1;
}
.containersr > label {
  color: #000;
  font-size: 1.5rem;
  font-weight: 400;
}

/* Добавить анимацию масштабирования */
.animatez {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}
.fotpopform {
  text-align: center;
  margin-bottom: 5rem;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Измените стили для кнопки span и cancel на очень маленьких экранах */
@media screen and (max-width: 300px) {
  span.pswd {
    display: block;
    float: none;
  }
  .cancelbtnss {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .modalg-contentjj {
    width: 80%;
    margin-top: 40%;
  }
}
